body {
  background-color: #eee;
  display: flex;
  font-family: 'Muli', sans-serif;
}

.contract, .existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

.bi-check-square-fill{
  color: green;
  font-size: 1.15rem;
}

.flex-box{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.flex-box > div{
  margin-right: 15px;
}

.existing-contracts{
  padding-left: 5vw;
  padding-right: 5vw;
  width: 1000px;
}

.pending{
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(90, 134, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
}

td {
  margin: 0 auto;
  text-align: center;
}

th {
  margin: 0 auto;
  text-align: center;
}

